<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>description:</strong>
  <%= @item.description %>

</p>
<p>
  <strong>img_url</strong>
  <%= @item.img_url %>
</p>

|
<%= link_to 'Back', items_path %>
